[user]
    email = hayden@rouille.dev
    name = Hayden Rouille
[core]
    editor = nvim
    autocrlf = false
    pager = delta
[color]
    status = auto
    diff = auto
[fetch]
    prune = true
[commit]
    gpgsign = true
[gpg]
    program = gpg
[alias]
    empty = "git commit --allow-empty"
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
